@use '../../styles/colors';

.post-item {
  //max-height: 300px;
  display: flex;
  gap: 2%;
  width: 100%;
  background: colors.$black;
  border-radius: 1em;
  padding: 2.5%;
  transition: .2s all;

  &:hover {
    transform: scale(1.03);

    & .post-item__image {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    max-height: 100%;
    opacity: 0.6;
    transition: .2s all;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
    }
  }

  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__number {
    color: colors.$secondary;
  }

  &__title {
    font-size: 220%;
    font-weight: 400;
    letter-spacing: .1em;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__body {
    font-size: 130%;
    opacity: 0.7;
    letter-spacing: .1em;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__button {
    width: 24%;
    height: 40px;
    font-weight: 400;
  }
}

// Adaptive media queries
@media screen and (min-width: 1440px) {
  .post-item {

  }
}

@media screen and (max-width: 1200px) {
  .post-item {

    &__number {
      font-size: 70%;
    }

    &__title {
      font-size: 200%;
    }

    &__body {
      font-size: 100%;
    }

    &__button {
      width: 30%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .post-item {

    &__number {
      //display: none;
    }

    &__title {
      font-size: 170%;
    }

    &__body {
      font-size: 80%;
    }

    &__button {
      font-size: 70% !important;
      width: 27%;
      height: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .post-item {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
      transform: scale(1);
    }

    &__image {
      display: none;
    }

    &__image-wrapper {
      width: 50%;
      height: 90%;
    }

    &__content {
      width: 100%;
      padding: 5%;
      //justify-content: space-between;
    }

    &__number {
      font-size: 80%;
    }

    &__title {
      font-size: 170%;
    }

    &__body {
      font-size: 100%;
    }

    &__button {
      font-size: 75% !important;
      width: 34%;
      height: 35px;
    }
  }
}

@media screen and (max-width: 480px) {
  .post-item {

    &__number {
      font-size: 70%;
    }

    &__title {
      font-size: 150%;
    }

    &__body {
      font-size: 80%;
    }

    &__button {
      font-size: 60% !important;
      width: 42%;
    }
  }
}