{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "quotes": [
      "warn",
      "single"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "semi": [
      "warn",
      "never"
    ]
  }
}