@use '../../styles/colors';

.hero {
  background: colors.$primary;
  width: 92%;
  margin: 70px 0 0 0;
  display: flex;
  gap: 1%;
  color: colors.$white;

  // Left side
  &__image-wrapper {
    width: 50%;
    margin: 3% 0 0 3.5%;
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__image-sparks {
    position: absolute;
    top: -2%;
    left: -3%;
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3.5% 0 0;
  }

  &__title {
    font-size: 300%;
    letter-spacing: .1em;
    position: relative;

    & span {
      font-weight: 400;
    }

    &-line {
      width: 32%;
      position: absolute;
      top: 63%;
      left: -3%;
    }
  }

  // Right side
  &__music-wrapper {
    display: flex;
    justify-content: space-between;
    width: 55%;
  }

  &__music {
    display: flex;
    flex-direction: column;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: 100%;
  }

  &__icons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
    gap: 10%;
    margin: 0;
    padding: 0;
  }
}


// Adaptive media queries
@media screen and (min-width: 1440px) {
  .hero {
    width: 1440px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {

    &__music-wrapper {
      width: 69%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {

    &__title {
      font-size: 230%;
    }

    &__text {
      font-size: 80%;
    }

    &__music-wrapper {
      width: 70%;
    }

    &__icons > li > img {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 5%;
    flex-direction: column;
    width: 92%;

    &__image {
      width: 100%;

      &-wrapper {
        width: 100%;
        margin: 0;
      }
    }


    &__content {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image-sparks {
      width: 68px;
      height: 74px;
    }

    &__music {

      &-wrapper {
        align-items: center;
        justify-content: center;
      }
    }

    &__icons {
      gap: 10px;
    }


    &__title {
      font-size: 280%;
      text-align: center;

      &-line {
        width: 32%;
        position: absolute;
        top: 63%;
        left: 14%;
      }
    }

    &__text {
      font-size: 150%;

      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__icons > li > img {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {

    &__title {
      font-size: 190%;
    }

    &__text {
      font-size: 90%;
    }

    &__icons > li > img {
      width: 30px;
      height: 30px;
    }
  }
}