@use '../../styles/colors';

.comment-form {
  background: colors.$primary;
  color: colors.$white;
  width: 92%;
  padding: 0 5% 5% 5%;

  &__wrapper {
    background: colors.$black;
    width: 100%;
    padding: 3%;
    border-radius: 1em;
    display: flex;
  }

  // Left side
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  &__question {
    color: colors.$secondary;
    font-size: 80%;
  }

  &__title {
    font-size: 280%;
    font-weight: 400;
    letter-spacing: .1em;
    margin: 0;
  }

  // Form

  &__inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    position: relative;
  }

  &__comment, &__email {
    height: 45px;
    width: 100%;
    padding: 0 0 0 2%;
  }

  &__comment-wrapper, &__email-wrapper {
    position: relative;
  }

  &__error {
    font-size: 80%;
    color: #a81111;
    position: absolute;
    top: 85%;
    left: 2%;
  }

  &__error2 {
    font-size: 80%;
    color: #a81111;
    position: absolute;
    top: 8%;
    left: 2%;
  }

  &__submit {
    height: 45px;
  }

  &__star {
    width: 35px !important;
    height: 34px !important;
    transition: .3s all;
    padding: 0 5px;
  }
}

.input {
  background: colors.$primary;
  border: 2px solid colors.$primary;
  border-radius: 0.5em;
  color: colors.$white;

  &:focus-visible {
    outline: none;
  }
}

// Adaptive media queries
@media screen and (min-width: 1440px) {
  .comment-form {
    width: 1440px;
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}