@use '../../styles/colors';

.head {
  background: colors.$primary;
  width: 1440px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  &__logo {
    width: 11%;
    margin: 0 3.5%;
  }

  &__nav {
    width: fit-content;
    margin: 0 3.5%;
  }

  &__ul {
    display: flex;
    font-size: 100%;

    & a {
      color: colors.$white;
      margin: 0 1vw;
      transition: .2s;

      &:hover {
        color: colors.$secondary;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .head {
    width: 1440px;
    &__ul {
      display: flex;
    }

    &__burger {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  .head {
    width: 100%;
    &__ul {
      display: flex;
    }

    &__burger {
      display: none;
    }
  }
}
@media screen and (max-width: 480px) {
  .head {
    width: 50%;

    &__ul {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}